<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <title>mapfind</title>
  </head>
  <body>
    <header>
      <div class="title_box">
        <img class="title title_img" src="img/leggo_logo.jpg" />
        <h1 class="title title_font">오리지널 길찾기👟</h1>
      </div>
    </header>
    <nav class="menu" style="margin-bottom: 20px">
      <a href="/roadmap"><span class="nav_type">기본 길찾기 경로👟</span></a>
      <a href="/wheel"
        ><span class="nav_type">거동 취약계층 최적화 경로🦽</span></a
      >
      <a href="/howtogo"><span class="nav_type">길찾기 페이지로🚩</span></a>
    </nav>
    <h2>기본 길찾기 서비스</h2>
    <iframe
      src="https://bus.go.kr/shortPath.jsp?mnuNm=5"
      style="width: 90%; height: 600px"
    ></iframe>
  </body>
</html>
