<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />

    <title>News</title>
  </head>
  <body>
    <header>
      <div class="title_box">
        <img class="title title_img" src="img/leggo_logo.jpg" />
        <h1 class="title title_font">소식통📢</h1>
      </div>
    </header>
    <nav class="menu">
      <a href="/howtogo"><span class="nav_type">길찾기🚩</span></a>
      <a href="/ground"><span class="nav_type">광진구 랜드마크🎈</span></a>
      <a href="/traffic"><span class="nav_type">광진구 로드맵🛴</span></a>
      <a href="/service"><span class="nav_type">광진구 소식통📢</span></a>
      <a href="/"><span class="nav_type">메인메뉴로📂</span></a>
    </nav>
    <h2>광진구 소식통</h2>
    <iframe
      src="https://www.gwangjin.go.kr/portal/main/main.do"
      style="width: 90%; height: 400px"
    ></iframe>
  </body>
</html>
